body {
	background-size: cover;
	color: #000000;
	font-family: 'Courier New', monospace;
	font-weight: lighter;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #e0531f;
}

.main {
	background: #ffffff;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

.result {
	margin-left: 25px;
	margin-bottom: 15px;
	width: 250px;
	height: 70px;
	background: #012a7a;
	border-radius: 15px;
	text-align: right;
	font-size: 2rem;
	font-weight: bold;
	padding-right: 10px;
	color: #ffffff;
}

.my-btn {
	width: 60px;
	height: 60px;
	background: #ffffff;
	margin: 5px;
	cursor: pointer;
	font-size: 1.5rem;
	border: 1px solid #000000;
	color: #000000;
	border-radius: 5px;
}

.my-btn:hover {
	color: #e0531f;
}

.my-btn.primary {
	background: #e0531f;
	border: none;
}

.my-btn.primary:hover {
	background: #ffffff;
	color: #000000;
	border: 1px solid #000000;
}

.my-btn.secondary {
	background: #e0531f;
}
.my-btn.secondary:hover {
	background: #ffffff;
	color: #000000;
	border: 1px solid #000000;
}
.my-btn.execute {
	width: 140px;
}

.dropdown {
	margin-top: 10px;
}

.highlight mark {
	background-color: #e0531f;
}
